// Neutrals
$very-dark-blue: hsl(226, 43%, 10%);
$dark-blue: hsl(235, 46%, 20%);
$dark-blue-light: hsl(235, 46%, 30%);
$desaturated-blue: hsl(235, 45%, 61%);
$pale-blue: hsl(236, 100%, 87%);

// Primary
$blue: hsl(246, 80%, 60%);

$white: #fff;
$black: #000;