@use "./styles/variables.scss" as variables;
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  color: variables.$white;
}

.app {
  &-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
  }
}

@media (max-width: 768px) {
  .app {
    &-grid {
      grid-template-columns: 1fr;
      min-width: 90%;
    }
  }
}
